body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
    width: 100%;
}

table, tr, td {
    border: 1px solid black;
}

th {
    background-color: #a7a7a7;
}

tr td:first-child {
    width: 10px;
}

th, td {
    padding: 10px;
}

/*Classes*/

.glyphicon {
    cursor: pointer;
}